<a href="https://colab.research.google.com/github/rallabg/DS_Rcode/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



**Python Pandas practice**

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import seaborn as sns

In [4]:
#read csv file
df = pd.read_csv("/content/survey_data.csv")

In [5]:
df.head(5)

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35

In [7]:
df.head(10)

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35
5  113       0         2                2        74       69        85
6   50       0         2                1        60       49        51
7   11       0         2                2        65       46        36
8   84       0         2                1        60       73        74
9   48       0         2                2        45       63        84

In [9]:
df.dtypes

ID                 int64
Gender             int64
location           int64
type_of_service    int64
month_-1           int64
month_0            int64
month_+1           int64
dtype: object

In [10]:
df.columns

Index(['ID', 'Gender', 'location', 'type_of_service', 'month_-1', 'month_0',
       'month_+1'],
      dtype='object')

In [11]:
df.size

1400

In [12]:
df.shape

(200, 7)

In [13]:
df.axes

[RangeIndex(start=0, stop=200, step=1),
 Index(['ID', 'Gender', 'location', 'type_of_service', 'month_-1', 'month_0',
        'month_+1'],
       dtype='object')]

In [14]:
df.shape[0]

200

In [15]:
df.shape[1]

7