<a href="https://colab.research.google.com/github/rallabg/DS_Rcode/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



**Python Pandas practice**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mlp
import seaborn as sns

In [ ]:
#read csv file
df = pd.read_csv("/content/survey_data.csv")

In [ ]:
df.head(5)

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35

In [ ]:
df.head(10)

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35
5  113       0         2                2        74       69        85
6   50       0         2                1        60       49        51
7   11       0         2                2        65       46        36
8   84       0         2                1        60       73        74
9   48       0         2                2        45       63        84

In [ ]:
df.dtypes

ID                 int64
Gender             int64
location           int64
type_of_service    int64
month_-1           int64
month_0            int64
month_+1           int64
dtype: object

In [ ]:
df.columns

Index(['ID', 'Gender', 'location', 'type_of_service', 'month_-1', 'month_0',
       'month_+1'],
      dtype='object')

In [ ]:
df.size

1400

In [ ]:
df.shape

(200, 7)

In [ ]:
df.axes

[RangeIndex(start=0, stop=200, step=1),
 Index(['ID', 'Gender', 'location', 'type_of_service', 'month_-1', 'month_0',
        'month_+1'],
       dtype='object')]

In [ ]:
df.shape[0]

200

In [ ]:
df.shape[1]

7

In [ ]:
df.describe()

,ID,Gender,location,type_of_service,month_-1,month_0,month_+1
count,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.54500,2.055000,2.025000,59.185000,71.320000,58.300000
std,57.879185,0.49922,0.724291,0.690477,11.170707,16.111346,17.056807
min,1.000000,0.00000,1.000000,1.000000,40.000000,45.000000,30.000000
25%,50.750000,0.00000,2.000000,2.000000,49.000000,57.000000,44.000000
50%,100.500000,1.00000,2.000000,2.000000,58.500000,70.500000,57.000000
75%,150.250000,1.00000,3.000000,2.250000,68.250000,86.000000,74.000000
max,200.000000,1.00000,3.000000,3.000000,80.000000,100.000000,85.000000

In [ ]:
df.std()

ID                 57.879185
Gender              0.499220
location            0.724291
type_of_service     0.690477
month_-1           11.170707
month_0            16.111346
month_+1           17.056807
dtype: float64

In [ ]:
df_50 = df.head(50)

In [ ]:
df_50.mean()

ID                 107.64
Gender               0.02
location             2.18
type_of_service      1.94
month_-1            59.64
month_0             69.34
month_+1            59.60
dtype: float64

In [ ]:
df.head(50).mean()

ID                 107.64
Gender               0.02
location             2.18
type_of_service      1.94
month_-1            59.64
month_0             69.34
month_+1            59.60
dtype: float64

In [ ]:
df['month_0']

0      82
1      73
2      49
3      48
4      97
       ..
195    67
196    88
197    80
198    56
199    48
Name: month_0, Length: 200, dtype: int64

In [ ]:
df[['month_0']]

     month_0
0         82
1         73
2         49
3         48
4         97
..       ...
195       67
196       88
197       80
198       56
199       48

[200 rows x 1 columns]

In [ ]:
df.month_0

0      82
1      73
2      49
3      48
4      97
       ..
195    67
196    88
197    80
198    56
199    48
Name: month_0, Length: 200, dtype: int64

df['column_name'] is same as df.column_name
whereas df[['column_name']] is different

In [ ]:
df[['month_0']].describe()

          month_0
count  200.000000
mean    71.320000
std     16.111346
min     45.000000
25%     57.000000
50%     70.500000
75%     86.000000
max    100.000000

In [ ]:
df.month_0.count()

200

In [ ]:
df.month_0.mean()

71.32

In [ ]:
df.head(5)

    ID  Gender  location  type_of_service  month_-1  month_0  month_+1
0   70       0         1                1        61       82        50
1  121       1         2                3        65       73        68
2   86       0         3                1        47       49        63
3  141       0         3                3        76       48        42
4  172       0         2                2        72       97        35

In [ ]:
df.drop(["ID","location","type_of_service"], axis = 1, inplace = True)

In [ ]:
df.head(5)

   Gender  month_-1  month_0  month_+1
0       0        61       82        50
1       1        65       73        68
2       0        47       49        63
3       0        76       48        42
4       0        72       97        35

In [ ]:
df_gender = df.groupby(['Gender'])

In [ ]:
df_gender.mean()

         month_-1    month_0   month_+1
Gender
0       59.626374  70.263736  59.670330
1       58.816514  72.201835  57.155963

In [ ]:
df_tos = df.groupby(['type_of_service'])

In [ ]:
df_tos.mean()

,ID,Gender,location,month_-1,month_0,month_+1
type_of_service,,,,,,
1,97.311111,0.533333,1.844444,57.288889,69.644444,59.311111
2,107.628571,0.552381,2.219048,58.933333,70.971429,59.190476
3,88.400000,0.540000,1.900000,61.420000,73.560000,55.520000

In [ ]:
df[df['month_0']>75]

     Gender  month_-1  month_0  month_+1
0         0        61       82        50
4         0        72       97        35
10        0        57       87        82
11        0        47       82        31
12        0        55       85        46
..      ...       ...      ...       ...
187       1        49       97        63
188       1        53       92        72
192       1        53       84        61
196       1        69       88        30
197       1        76       80        75

[81 rows x 4 columns]